Connected Services/SmartCardHelperService/DVS.SmartCardHelperService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://DVS.SmartCardHelperService" elementFormDefault="qualified" targetNamespace="http://DVS.SmartCardHelperService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" />
  <xs:element name="CardPresent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CardPresentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardPresentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardReadersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CardReadersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardReadersListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSecurityPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentSecurityPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newSecurityPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSecurityPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSecurityPinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserPinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCardType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="CheckCardTypeResult" type="q2:EInitSCardType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadVoterFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadVoterFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="ReadVoterFileResult" nillable="true" type="q3:VoterFile" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSmartCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSmartCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="ClearSmartCardResult" type="q4:EResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteVoterFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="voterFile" nillable="true" type="q5:VoterFile" />
        <xs:element minOccurs="0" name="overWrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteVoterFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="WriteVoterFileResult" type="q6:EResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAdminFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAdminFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="ReadAdminFileResult" nillable="true" type="q7:AdminFile" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAdminFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityPin" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="adminFile" nillable="true" type="q8:AdminFile" />
        <xs:element minOccurs="0" name="overWrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAdminFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DVS.Utilities.SecureLogin" minOccurs="0" name="WriteAdminFileResult" type="q9:EResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCardReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCardReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectCardReaderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifySecurityPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifySecurityPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifySecurityPinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUserPinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="retries" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>