Connected Services/SmartCardHelperService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://DVS.SmartCardHelperService" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SmartCardHelper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ISmartCardHelper_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://DVS.SmartCardHelperService" location="" />
  <wsdl:types />
  <wsdl:binding name="NetNamedPipeBinding_ISmartCardHelper" type="i0:ISmartCardHelper">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ISmartCardHelper_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="CardPresent">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/CardPresent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardReadersList">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/CardReadersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSecurityPin">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/ChangeSecurityPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPin">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/ChangeUserPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCardType">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/CheckCardType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadVoterFile">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/ReadVoterFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSmartCard">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/ClearSmartCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteVoterFile">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/WriteVoterFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAdminFile">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/ReadAdminFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteAdminFile">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/WriteAdminFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCardReader">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/SelectCardReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifySecurityPin">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/VerifySecurityPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPin">
      <soap12:operation soapAction="http://DVS.SmartCardHelperService/ISmartCardHelper/VerifyUserPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartCardHelper">
    <wsdl:port name="NetNamedPipeBinding_ISmartCardHelper" binding="tns:NetNamedPipeBinding_ISmartCardHelper">
      <soap12:address location="net.pipe://localhost/DVS.SmartCardHelperService.Api/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/DVS.SmartCardHelperService.Api/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>